<div>
  {{ 'Serial:'|trans }} <b>{{sale.folio}}</b><br>
  <b>{{sale.user}}</b><br>
  <div>{{sale.email}}</div>
  <div>{{ 'Purchase date: '|trans }} {{sale.created}}</div>
  <hr>
  <b>{{ 'Purchase details'|trans }}</b>
  <table>
    <thead>
        <tr>
          <th>{{ 'Description'|trans }}</th>
          <th>{{ 'Payment type'|trans }}</th>
          <th>{{ 'Tax'|trans }}</th>
          <th>{{ 'Total'|trans }}</th>
        </tr>
      </thead>
    <tr>
      <td>{{sale.product}}</td>
      <td>{{sale.platform}}</td>
      <td>$ {{ sale.iva|number_format(2, '.', ',') }}</td>
      <td>$ {{ sale.price|number_format(2, '.', ',') }}</td>
    </tr>
    <tr>
      <td colspan="3"></td>
      <td>$ {{ sale.total|number_format(2, '.', ',') }}</td>
    </tr>
  </table>
  <button onclick="window.print();return false;" >{{ 'Print Receipt'|trans }}</button>
</div>
